.list {
  list-style: none;
}

.list__card {
  margin-top: 2.4rem;
}

.list > li {
  margin-top: 0.8rem;
  padding: 0.4rem 1.2rem;
  border: 1px solid #bbb;
}

.list > li:first-of-type {
  margin-top: 0;
}